body {
    background-color: rgb(219, 117, 182);
}
body {
}
h2, H1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(168, 236, 233);
}
    
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(168, 236, 233);
    font-weight: lighter;
}